body {
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.register-container {
    padding: 0;
    border-radius: 0;
    max-width: 500px;
    margin: 0 auto;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.register-container input {
    width: 100%;
    padding: 8px;
}

.register-container button {
    background: #ff6b6b;
    border: none;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.register-container .link {
    text-align: center;
    margin-top: 15px;
}

.register-container .link a {
    color: #3f85e8;
}


/* タブレット対応（768px〜850px） */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .register-container {
        max-width: 90%;
        padding: 0 20px;
    }

    .register-container h2 {
        font-size: 18px;
    }

    .register-container input {
        font-size: 14px;
        padding: 10px;
    }

    .register-container button {
        font-size: 14px;
        padding: 10px 40px;
    }
}

/*  PC対応（1400px〜1540px） */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .register-container {
        max-width: 600px;
    }

    .register-container h2 {
        font-size: 22px;
    }

    .register-container input {
        font-size: 15px;
    }

    .register-container button {
        font-size: 15px;
        padding: 12px 60px;
    }
}